<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReportMD.Properties.Settings.MD3ConnectionString"
            connectionString="Data Source=USER;Initial Catalog=MD3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ReportMD.Properties.Settings.test2ConnectionString"
            connectionString="Data Source=USER;Initial Catalog=test2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>